@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Lato&family=Source+Code+Pro:ital,wght@1,200&display=swap');

body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.sub-head{
	background: #f9f8f3;
	padding-right: 60px;
	text-align: right;
}
.sub-head p{
	
	display: inline-block;
	color: #bea44d;
	font-size: 13px;
	padding-left: 5px;
}
header{
	display: flex;
	justify-content: space-between;
	padding: 20px 50px;
}

header img{
	width: 12%;
}
.menu{
	width: 40%;
}

.menu ul{
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.menu ul li a{
	text-decoration: none;
	color: #000;
}

.menu ul li a.active{
	color: #bea44d;
	border-bottom: 1px solid #bea44d;
}

.intro{
	background-image: url('images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}
.intro h1{
	margin: 0;
	font-size: 70px;
	color: #fff;
	padding-top: 150px;
	padding-bottom: 75px;
	padding-left: 50px;
}
.intro h1 span{
	background: #fff;
	color: #bea44d;
}
.intro .list{
	width: 50%;
	padding-bottom: 50px;
}
.intro .list ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.intro .list ul li{
	text-align: center;
}

.intro .list ul li h2,
.intro .list ul li p{
	margin: 0;
	padding: 0;
	color: #fff;
}
.intro .list ul li h2{
	font-size: 40px;
}

.intro .list ul li img{
	height: 62px;
}

.intro .three-dots{
	text-align: center;
	color: white;
	padding-bottom: 30px;
}

.intro .three-dots i{
	padding-left: 7px;
}



.featured-work .row {
	padding: 80px 40px;
	display: flex;
	justify-content: space-between;
}

.featured-work .row .col{
	text-align: center;
	width: 20%;
}

.featured-work .row .col i{
	background: #f9f8f3;
	color: #bea44d;
	font-size: 25px;
	height: 30px;
	width: 30px;
	padding: 15px;
	border: 1px solid #bea44d;
	border-radius: 50%;
}

.featured-work .row .col h2{
	font-size: 20px;
	color: #bea44d;
	margin: 0;
	padding-top: 20px;
}

.featured-work .row .col p{
	font-size: 16px;
	margin: 0;
	color: #757c80;
}

.featured-work .text-center{
	text-align: center;
}

.featured-work .text-center h2,
.latest-post .title h2,
.get-in-touch .title h2{
	color: #916c02;
	font-size: 45px;
	font-weight: 900;
}

.featured-work .text-center p,
.latest-post .title p,
.get-in-touch .title p{
	color: #757c80;
	width: 60%;
	margin: auto;
	font-size: 18px;
}


.slider{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}

.slider i{
	margin: 0 50px;
	font-size: 45px;
	padding: 15px;
	height: 40px;
	width: 40px;
	border: 1px solid #bea44d;
	color: #bea44d;
	border-radius: 15%;
}

.slider .fa-angle-right{
	background: #bea44d;
	color: white
}

.latest-post .title,
.get-in-touch .title{
	text-align: center;
	padding-top: 50px;
}

.latest-post .row{
	margin: 50px;
	display: flex;
	justify-content: center;
}

.latest-post .row .col{
	width: 30.6%;
	padding: 1%;
}

.latest-post .row .col img{
	width: 100%;
}

.latest-post .row .col h4{
	font-size: 22px;
	margin: 10px 30px 10px 0;
	color: #916c02;
}

.latest-post .row .col h5{
	margin: 5px 0;
	color: #c7c2c1;
	font-weight: normal;
}

.latest-post .row .col p{
	margin: 10px 0;
	color: #757c80;
	font-size: 16px;
}

.latest-post .row .col a{
	text-decoration: none;
	color: #916c02;
	font-weight: bold;
}

.get-in-touch .title h2{
	margin-bottom: 20px;
}

.get-in-touch .row{
	margin: 25px 50px;
	display: flex;
}

.get-in-touch .row .col{
	width: 50%;
	text-align: center;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
	margin: 15px;
	/* padding: 15px; */
}

.get-in-touch .row .col form{
	display: flex;
	flex-direction: column;
	padding: 20px 40px;
}


.get-in-touch .row .col form input,
.get-in-touch .row .col form textarea{
	margin: 10px 0;
	padding: 15px 20px;
	background: #fffaef;
	border: 1px solid #ddd9cf;
	border-radius: 3px;
}

.get-in-touch .row .col form button{
	background: #bea44d;
	color: white;
	width: 32%;
    padding: 12px 10px;
    margin-top: 20px;
    border-radius: 5px;
    align-self: flex-end;
    border: none;
}


.contact .row{
	display: flex;
	margin: 100px 0 0 0;
	padding: 100px 50px;
	background: #f9edd5;
}

.contact .row .col1{
	width: 40%;
	margin: 0 20px;
	padding-right: 50px;
}

.contact .row .col1 p{
	color: #757c80;
	font-size: 18px;
	margin-bottom: 10px;
}
.contact .row .col1 a{
	text-decoration: none;
	color: #916c02;
}
.contact .row .col1 a i{
	padding-right: 5px;
}

.contact .row .col2{
	width: 30%;
}
.contact .row .col2 h2{
	margin: 0 0 30px 0;
}
.contact .row .col2 .row2{
	display: flex;
	justify-content: space-between;
}
.contact .row .col2 .row2 .col{
	display: flex;
	flex-direction: column;
	padding-right: 40px;

}
.contact .row .col2 .row2 .col a{
	text-decoration: none;
	color: black;
	padding: 5px 0;
}
.contact .row .col2 .row2 .col a i{
	padding-right: 5px;
}

.contact .row .col3{
	width: 30%;
}
.contact .row .col3 h2{
	margin: 0 0 30px 0;
}
.contact .row .col3 p{
	font-size: 18px;
	margin-bottom: 40px;
}


footer{
	display: flex;
	justify-content: space-between;
	background: #bea44d;
	color: white;
}

footer div p{
	padding: 10px 50px;
	font-size: 15px;
}

footer .social{
	padding-right: 20px;
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

footer .social i{
	font-size: 15px;
}