@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Lato&family=Source+Code+Pro:ital,wght@1,200&display=swap');

body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.sub-head{
	background: #f9f8f3;
	padding-right: 60px;
	text-align: right;
}
.sub-head p{
	
	display: inline-block;
	color: #bea44d;
	font-size: 13px;
	padding-left: 5px;
}
header{
	display: flex;
	justify-content: space-between;
	padding: 20px 50px;
}

header img{
	width: 12%;
}
.menu{
	width: 40%;
}

.menu ul{
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.menu ul li a{
	text-decoration: none;
	color: #000;
}

.menu ul li a.active{
	color: #bea44d;
	border-bottom: 1px solid #bea44d;
}

.intro{
	background-image: url('images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}
.intro h1{
	margin: 0;
	font-size: 70px;
	color: #fff;
	padding-top: 150px;
	padding-bottom: 75px;
	padding-left: 50px;
}
.intro h1 span{
	background: #fff;
	color: #bea44d;
}
.intro .list{
	width: 50%;
	padding-bottom: 50px;
}
.intro .list ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.intro .list ul li{
	text-align: center;
}

.intro .list ul li h2,
.intro .list ul li p{
	margin: 0;
	padding: 0;
	color: #fff;
}
.intro .list ul li h2{
	font-size: 40px;
}

.intro .list ul li img{
	height: 62px;
}

.intro .three-dots{
	text-align: center;
	color: white;
	padding-bottom: 30px;
}

.intro .three-dots i{
	padding-left: 7px;
}



.featured-work .row {
	padding: 80px 40px;
	display: flex;
	justify-content: space-between;
}

.featured-work .row .col{
	text-align: center;
	width: 20%;
}

.featured-work .row .col i{
	background: #f9f8f3;
	color: #bea44d;
	font-size: 25px;
	height: 30px;
	width: 30px;
	padding: 15px;
	border: 1px solid #bea44d;
	border-radius: 50%;
}

.featured-work .row .col h2{
	font-size: 20px;
	color: #bea44d;
	margin: 0;
	padding-top: 20px;
}

.featured-work .row .col p{
	font-size: 16px;
	margin: 0;
	color: #757c80;
}

.featured-work .text-center{
	text-align: center;
}

.featured-work .text-center h2{
	color: #916c02;
	font-size: 45px;
}

.featured-work .text-center p{
	color: #757c80;
	width: 60%;
	margin: auto;
	font-size: 18px;
}


.slider{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}

.slider i{
	margin: 0 50px;
	font-size: 45px;
	padding: 15px;
	height: 40px;
	width: 40px;
	border: 1px solid #bea44d;
	color: #bea44d;
	border-radius: 15%;
}

.slider .fa-angle-right{
	background: #bea44d;
	color: white
}